<p class="title d-block mt-3 mb-5 fs-3">List of customers</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Created Date</th>
      <th scope="col">Last Updated Date</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <ng-container *ngIf="customersDataSource && customersDataSource.length > 0">
    <tbody>
      <tr *ngFor="let customer of customersDataSource">
        <td [ngClass]="{ 'bg-light-blue': customer.isEdit }">
          <div *ngIf="!customer.isEdit">{{ customer.firstName }}</div>
          <div *ngIf="customer.isEdit">
            <input type="text" class="form-control" [(ngModel)]="customer.firstName" />
          </div>
        </td>
        <td [ngClass]="{ 'bg-light-blue': customer.isEdit }">
          <div *ngIf="!customer.isEdit">{{ customer.lastName }}</div>
          <div *ngIf="customer.isEdit">
            <input type="text" class="form-control" [(ngModel)]="customer.lastName" />
          </div>
        </td>
        <td [ngClass]="{ 'bg-light-blue': customer.isEdit }">
          <div *ngIf="!customer.isEdit">{{ customer.email }}</div>
          <div *ngIf="customer.isEdit">
            <input type="text" class="form-control" [(ngModel)]="customer.email" />
          </div>
        </td>
        <td [ngClass]="{ 'bg-light-blue': customer.isEdit }">{{ customer.createdDate | date }}</td>
        <td [ngClass]="{ 'bg-light-blue': customer.isEdit }">{{ customer.lastUpdatedDate | date }}</td>
        <td [ngClass]="{ 'bg-light-blue': customer.isEdit }">
          <app-customer-status [CustomerStatus]="customer.isActive" *ngIf="!customer.isEdit" />

          <div class="form-check" *ngIf="customer.isEdit">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="customer.isActive">
          </div>
        </td>
        <td [ngClass]="{ 'bg-light-blue': customer.isEdit }">
          <div *ngIf="!customer.isEdit">
            <button class="btn btn-primary" (click)="customer.isEdit=true;">Edit</button>
          </div>
          <div *ngIf="customer.isEdit">
            <button class="btn btn-success me-3" (click)="updateCustomer(customer)">Save</button>
            <button class="btn btn-danger" (click)="customer.isEdit=false;">Cancel</button>
          </div>
        </td>
      </tr>
    </tbody>
  </ng-container>
</table>
